.profile {
  background-color: #F9FAFD;
}

.profile-image {
  width: 100vw;
  object-fit: cover;
}

.profile-content {
  padding: 1.5rem;
}

.profile-content > * {
  margin-bottom: 1rem;
}

.profile-text {
  font-size: 1rem;
  color: #333333;
  display: block;
}

.profile-box: {
  display: flex;
  flex-direction: column;
}

.profile-text--bold {
  font-weight: 600;
}

.profile-text--mute {
  color: #a8a8a8;
  font-weight: 600;
  font-size: 0.75rem;
}